<!DOCTYPE html>
<html ng-app='matrixCalc'>
  <head>
	  <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
	  <script type="text/javascript" src="angular.min.js"></script>
	  <script type="text/javascript" src="app.js"></script>
  </head>
  <body class="full" ng-controller="MatricesController as matrixCtrl">
    <h1>Matrix Calculator</h1>
    <div class="newmatrix">
      <form name="newMatrix" ng-submit="matrixCtrl.newMatrix()">
        <fieldset class="form-group">
          <input ng-model="matrixCtrl.matrix.row" placeholder="Number of Rows" 
          type="number" class="form-control" ng-options="i for i in [1,2,3,4,5,6,7,8,9,10]" 
          title="Row">
          </input>
        </fieldset>

        <fieldset class="form-group">
          <input ng-model="matrixCtrl.matrix.col" placeholder="Number of Columns" 
          type="number" class="form-control" ng-options="i for i in [1,2,3,4,5,6,7,8,9,10]"
          title="Column">
          </input>
        </fieldset>

        <fieldset class="form-group">
          <div class="text-center">
            <input type="submit" class="btn btn-primary" value="Add Matrix" />
          </div>
        </fieldset>
        </form>
    </div>

    <div class="input">
    	<div ng-repeat="matrix in matrixCtrl.matrices" class="{{matrix.id}}">
        <div class="operator">
          <input ng-show="matrix.id >= 1"ng-model="matrix.operation" type="text" placeholder="+, -, *" size="2"></input>
        </div>
        <div class="additional">
          <div class="delete">
            <form name="newMatrix" ng-submit="matrixCtrl.deleteMatrix(matrix)">
              <input type="submit" class="btn-mini btn-danger pull-right" value="x" />
            </form>
          </div>
          <div class="detcompute">
            <form name="compdet" ng-submit="matrixCtrl.calcDet(matrix)">
              <input type="submit" class="btn-mini btn-primary pull-right" value="det( )" />
            </form>
          </div>
        </div>
        <div class="matrixtable">
          <table>
            <tr ng-repeat="i in [] | range: matrix.row">
              <td ng-repeat="j in [] | range: matrix.col" height="50">
                  <input ng-model="matrix.temp[i][j]" type="text" size="4" maxlength="6" value="matrix.temp[i][j]"/>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="evaluate">
        <form name="matrixValue" ng-submit="matrixCtrl.compute()" style="width:100%">
          <input ng-show="matrixCtrl.matrices.length" style="text-center" type="submit" class="btn btn-primary" value="=" />
        </form>
      </div>
    </div>

    <div class="result">
      <div ng-repeat="result in matrixCtrl.results">
        <div class="matrixtable">
          <table>
            <tr ng-repeat="i in [] | range: result.row">
              <td ng-repeat="j in [] | range: result.col" ng-switch on="result.value[i][j].b" height="50">
                  <input ng-switch-when="1" type="text" value="{{result.value[i][j].a}}" size="4"></input> 
                  <input ng-switch-default type="text" value="{{result.value[i][j].a}} / {{result.value[i][j].b}}" size="4"></input>
              </td>
            </tr>
          </table>
        </div>
        <div class="det" ng-show="result.showDet" ng-switch on="result.det.b">
          determinant:
          <p ng-switch-when="1">{{result.det.a}}</p> 
          <p ng-switch-default>{{result.det.a}} / {{result.det.b}}</p>
        </div>
      </div>
    </div>

  </body>
</html>