.full {
	background: url("background.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	padding-top: 30px;
	background: none;
	font-size: 14px;
	text-align: center;
	color: white;
	font-weight: 200;
	text-shadow: 0px 0px 15px black;
}

h1 {
	font-weight: 100;
}

h3 {
	font-weight: 100;
}

table {
	margin: 0 auto;
}

table, tr, td {
   border: 1px solid white;
   border-collapse: collapse;
   background: none;
}


textarea {
	text-align: center; 
}

input {
	text-align: center;
	background: none;
	border: none;
	height: 3em;
}

td {
	height: 3em;
}

/*makes input width shorter*/
.form-group {
	padding-left: 200px;
	padding-right: 200px;
}

.description {
	padding-bottom: 15px;
}

/*changes border to red when input is invalid*/
.ng-invalid .ng-dirty {
  border-color: red;
}

/*changes border to green when input is valid*/
.ng-valid .ng-dirty {
  border-color: lightgreen;
}

.matrixtable {
	padding-top: 30px;
}

.results {
	padding-bottom: 50px;
}

/*makes the input height work in IE*/
.input .determinant input {
	height: 2em;
}

.input .delete input {
	height: 2em;
}

.input .inverse input {
	height: 2em;
}

.input .evaluate input {
	background: none;
	border: 1px solid white;
}

.input .operator input {
	background: none;
	border: 1px solid white;
}

.input .evaluate {
	padding-top: 10px;
}

.input .operator {
	padding-top: 20px;
}

.input .matrixtable input {
	text-shadow: 0px 0px 15px black;
}

.result .matrixtable input {
	text-shadow: 0px 0px 15px black;
}