body {
	background: url("background.jpg") no-repeat center center fixed; 
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 50px;
	margin: 0;
	font-size: 14px;
	text-align: center;
	color: white;
	font-weight: 200;
	text-shadow: 0px 0px 15px black;
}

h1 {
	font-weight: lighter;
}

.matrixtable {
	padding-top: 30px;
}

table {
	margin: 0 auto;
}

table, tr, td {
   border: 1px solid white;
   border-collapse: collapse;
   background: none;
}


textarea {
	text-align: center; 
}

input {
	text-align: center;
	background: none;
	border: none;
	height: 3em;
}

td {
	height: 3em;
}

.input .detcompute input {
	height: 2em;
}

.input .delete input {
	height: 2em;
}

.input .evaluate input {
	background: none;
	border: 1px solid white;
}

.input .operator input {
	background: none;
	border: 1px solid white;
}

.input .evaluate {
	padding-top: 10px;
}

.input .operator {
	padding-top: 20px;
}

.input .matrixtable input {
	text-shadow: 0px 0px 15px black;
}

.result .matrixtable input {
	text-shadow: 0px 0px 15px black;
}